@import '../../node_modules/pearson-elements/scss/elements/color/color';

.pe-calendar {
  min-width: 320px;
  padding: 16px 0 20px 0;
  height: 320px;
  width: 320px;
  position: absolute;
  z-index: 1;
  color: $pe-color-charcoal;
  border: 1px solid $pe-color-concrete;
  background-color: $pe-color-white;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  .pe-inner {
    height: 100%;
    display: flex;
    padding: 0 20px;
    flex-flow: column nowrap;
  }
  .pe-cal-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  .pe-cal-cell {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .pe-cal-title {
    padding: 0 8px 8px;
    height: 40px;
    justify-content: flex-start;
  }
  .pe-arrowIcons {
    cursor: pointer;
    height: 40px;
    color: $pe-color-medium-gray;
    flex-grow: 0;
    display: inline;
    text-align: center;

    span {
      display: block;
      width: 40px;
    }
    
    &:hover, &:focus {
      color: $pe-color-charcoal;
    }
  }
  .pe-cal-weekdays {
    height: 40px;
    color: $pe-color-medium-gray;
  }
  .pe-cal-dates {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 6;
    flex-basis: 0;
  }
  .pe-cal-dates.pe-cal-fix {
    flex-grow: 5;
  }
  .pe-cal-dates .pe-cal-row {
    flex-grow: 1;
  }
  .pe-cal-cell.pe-cal-date {
    cursor: pointer;
    height: 40px;
    width: 40px;
  }
}

/* inverse */
.calendar-contrast {
  color: $pe-color-white;
  background-color: $pe-color-ink-blue;
  border: 1px solid $pe-color-ink-blue;
}

.calendar-contrast .pe-cal-header .inverse-header,
.calendar-contrast .pe-arrowIcons,
.calendar-contrast .pe-cal-weekdays {
  color: $pe-color-white;
}
.calendar-contrast .pe-arrowIcons:hover,
.calendar-contrast .pe-arrowIcons:focus {
  color: $pe-color-concrete;
}


.pe-cal-cell-square {
  height: 32px;
  width: 32px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 16px;
}
.pe-cal-date:hover .pe-cal-cell-square {
  color: $pe-color-charcoal;
  background-color: $pe-color-moonlight;
}

.secondary-date {
  border: 1px solid $pe-color-concrete;
}

.currentDate-box {
  height: 38px;
  width: 38px;
  border: 1px solid $pe-color-concrete;
  align-items: center;
  display: flex;
  justify-content: center;
}

.pe-cal-selected,
.pe-cal-date:hover .pe-cal-selected {
  font-weight: 600;
  color: $pe-color-white;
  background-color: $pe-color-medium-gray;
}
/* inverse */
.pe-cal-date.date-inverse .pe-cal-selected {
  color: $pe-color-charcoal;
  background-color: $pe-color-white;
}

.pe-calendar .pe-cal-cell.pe-cal-date.pe-cal-past {
  color: $pe-color-concrete;
  cursor: not-allowed;
}

.pe-cal-past-inverse {
  color: $pe-color-digital-pearson-blue;
  cursor: not-allowed;
}
