@import '../../node_modules/pearson-elements/scss/elements/color/color';

.pe-calendar {
  border: 1px solid $pe-color-concrete;
  background-color: $pe-color-white;
  min-width: 320px;
  padding: 16px 0 20px 0;
  height: 320px;
  width: 320px;
  position: absolute;
  z-index: 1;
}

.calendar-contrast {
  background-color: $pe-color-ink-blue;
  border: 1px solid $pe-color-ink-blue;
}

.pe-calendar .pe-cal-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.pe-calendar .pe-cal-cell {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.pe-cal-cell-dayNames {
  color: $pe-color-medium-gray;
}

.inverse-title,
.inverse-dayNames,
.date-inverse {
  color: $pe-color-white !important;
}

.date-inverse:hover {
  color: $pe-color-charcoal !important;
}

.inverse-buttons {
  color: $pe-color-white !important;

  &:hover {
    color: $pe-color-concrete !important;
  }
}

.pe-arrowIcons {
  cursor: pointer;
  height: 40px;
  flex-grow: 0 !important;
  display: inline;
  text-align: center;

  &:focus {
    span {
      color: $pe-color-charcoal;
    }
  }
}

.fake-title-space {
  padding: 0 3px;
}

.pe-cal-cell-square {
  height: 32px;
  width: 32px;
  align-items: center;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: $pe-color-moonlight;
    border-radius: 16px;
  }
}

.secondary-date {
  border: 1px solid $pe-color-concrete;
  border-radius: 16px;
}

.currentDate-box {
  height: 38px;
  width: 38px;
  border: 1px solid $pe-color-concrete;
  align-items: center;
  display: flex;
  justify-content: center;
}

.pe-cal-selected,
.pe-cal-selected-inverse {
  border-radius: 16px;
  font-weight: 600;
}

.pe-cal-selected {
  background-color: $pe-color-medium-gray;
  color: $pe-color-white;

  &:hover {
    background-color: $pe-color-medium-gray;
  }
}

.pe-cal-selected-inverse {
  color: $pe-color-charcoal;
  background-color: $pe-color-white;

  &:hover {
    background-color: $pe-color-white;
  }
}

.icon-wrapper {
  color: $pe-color-medium-gray;
  width: 40px;

  &:hover {
    color: $pe-color-charcoal;
  }
}

.pe-calendar .pe-cal-title {
  padding: 0 8px 8px;
  height: 40px;
  justify-content: flex-start;
}

.pe-calendar .pe-cal-weekdays {
  height: 40px;
}

.pe-calendar .pe-cal-dates {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 6;
  flex-basis: 0;
}

.pe-calendar .pe-cal-dates.pe-cal-fix {
  flex-grow: 5;
}

.pe-calendar .pe-cal-dates .pe-cal-row {
  flex-grow: 1;
}

.pe-calendar .pe-cal-cell.pe-cal-date {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.pe-calendar .pe-cal-cell.pe-cal-date.pe-cal-past {
  color: $pe-color-concrete;
  cursor: not-allowed;
}

.pe-cal-past-inverse {
  color: $pe-color-digital-pearson-blue;
  cursor: not-allowed;
}

.pe-calendar:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.pe-calendar .pe-inner {
  height: 100%;
  display: flex;
  padding: 0 20px;
  flex-flow: column nowrap;
}
