.pe-alert,
.pe-alert--sticky {
  margin: 32px 0 0 32px;
  padding: 8px 8px 28px 28px;
  background-color: #FFF;
  width: 580px;
  left: 0;
  top: 0;
}

.pe-alert {
  position: absolute;
}

.pe-alert--sticky {
  position: fixed;
}

.alert-content- {
  margin-left: 12px;
  padding: 2px 2px 0 0;
}

.alert-content-info {
  margin: 0;
  padding: 2px 2px 0 0;
}

@media (min-width: 320px) and (max-width: 768px) {
  .pe-alert,
  .pe-alert--sticky {
    margin: 36px 25px 0;
    padding: 4px 4px 24px 18px;
    width: 440px
  }

  .alert-content-,
  .alert-content-info {
    padding-right: 8px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .pe-alert,
  .pe-alert--sticky {
    width: auto;
  }
}

%border-extend {
  border-bottom: 1px solid #C7C7C7;
  border-top: 1px solid #C7C7C7;
  border-right: 1px solid #C7C7C7;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
}

.alert-Error {
  @extend %border-extend;
  border-left: 3px solid #db0020;
}

.alert-Success,
.alert-Information {
  @extend %border-extend;
  border-left: 3px solid #19A5A3;
}

.error-svg {
  color: #db0020;
  margin-top: 7px;
}

.success-svg {
  color: #19A5A3;
}

.alert-content-container {
  display: flex;
}

.alert-title {
  margin: 0 4px 0 0;
  display: inline;
}

.alert-text {
  margin-bottom: 0;
  display: inline;
}

.close-title {
  float: right;
  border: none;
  background: transparent;
  padding: 0;
}
