
//========Global Styles=================
.displaySection{
  border: 1px solid #000;
  overflow: auto;
  padding: 5px;
  margin: 0 10px 20px;
}

.elementContainer {
  background-color: white;
  padding: 10px;
}

h2 {
  margin-bottom:20px;
}

h2 a {
  color: #000;
}

.code {
  background-color: #f5f5f5;
  border: 1px solid #808080;
  font-size: .85em;
  padding: 5px;
  margin-top: 5px;
}

li {
  margin-bottom: .6em;
}


//=========Button Page=======================
svg {
  margin-left: 10px;
}

button svg {
  margin: 4px 0 0;
}

.warning {
  padding: 5px;
  background-color: pink;
  border: 1px solid #db0020;
}

.warning h2 {
  margin-bottom: 0;
  color: #db0020;
  line-height: 24px;
}
