
body {
   background-color: #005a70;
}

.pe-footer {
  margin-bottom: 24px;
  padding-top: 2em;// seen on redlines but not specified
  text-align: center;
}

.pe-footer ul, .pe-footer li, .pe-footer p {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.pe-footer span {
  display: inline-block;
  margin: 0 .5em;
}

.pe-footer--stick {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

.pe-footer--light li,
.pe-footer--light a,
.pe-footer--light p {
  color: #fff;

}

@media (max-width: 768px) {
  .pe-footer ul {
    margin-bottom: 12px;
  }
  .pe-footer li:last-child span {
    display: none;
  }
  .pe-footer p {
    display: block;
    font-size: 0.86rem;
    line-height: 1.14rem;
    text-align: center;
  }
}
