.pe-footer,
.pe-footer--stick {
  margin: 24px 0;
  text-align: center;
}

.pe-footer ul,
.pe-footer li,
.pe-footer p,
.pe-footer--stick ul,
.pe-footer--stick li,
.pe-footer--stick p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.pe-footer span {
  display: inline-block;
}

.pe-footer--stick {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

.pe-footer--light li,
.pe-footer--light a,
.pe-footer--light p {
  color: #fff;
}

@media (max-width: 768px) {
  .pe-footer ul {
    margin-bottom: 12px;
  }

  .pe-footer li:last-child span {
    display: none;
  }

  .pe-footer p {
    display: block;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
}

@media (max-height: 700px) {
  .pe-footer--stick {
    position: static;
  }
}
